**/.terraform/*
*.terraform.lock.hcl
*.terraform.tfstate
*.terraform.tfstate.backup
*.secret.txt
*.access_key = "AKIAY4ATHPUA6QBUBDNY"
*.secret_key = "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"
*.terraform.tfvars
*.log